mat-card{
    height: 70%;
    width: 70%;
    background-color: #ffd740;
    color: black;
}
mat-grid-tile{
    height: 50%;
}
mat-grid-list{
    
}
mat-card-content{
    text-align: center;
    margin-top: auto;
    align-items: center;
    font-size: 350%;
    padding: 20% 0;
}
mat-card-header{
    text-align: center;
    align-items: center;
}